body {
  margin: 0;
  padding: 0;
  background: rgb(250,250,250);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  text-decoration: none;
}

.cars-index {
  display: flex;
  height: 100vh;
}

.garage-container {
  width: 200px;
  background: white;
  padding: 10px;
}

.cars-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 10px;
  background: rgb(230,230,230) ;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: black;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  &.card-product-infos {
    padding: 16px;
  }
}

.btn-cta {
  background-color: white;
  &:hover {
    background-color: #2A2A2A;
  }
  border: 1px solid;
  color: white;
  margin-bottom: 10px;
}





